body{
    // background: $color_60;
    
    // color: white;
    @include _lg{
        background-image: linear-gradient(to right, $_bg_color_3 50%, $_bg_color_1 50%);
    };
}

#page{
    max-width: 1440px;
    // min-height: 100%;
    margin: 0 auto;
    @include _lg{
        // border: solid 1px red;
        display: flex;
        height: 100vh;
        // overflow: hidden;
    };

    main{
        // border: solid 3px red;
        box-shadow: inset 0px -2px 10px rgba(0, 0, 0, 0.2);
        height: 100%;
        padding: 20px;
        overflow: auto;
        position: relative;

        @include _lg{
            padding: 40px;
        }

        h2{
            text-transform: capitalize;
            // font-weight: 600;
            font-size: 18px;
        }
        .titre_page{
            text-transform: capitalize;
            font-weight: 600;
            font-size: 26px;
            margin-bottom: 20px;
        }
        // .main_content{
        //     min-height: 100%;
        // }
    }

    #content{
        // border: solid 3px green;
        width: 100%;
        height: 100vh;
        display: flex;
            flex-direction: column;
    }
}


button{
    cursor: pointer;
}

.logo_creer{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10px;

    .fa-location-dot{
        position: absolute;
        top: -25px;
        left: 43%;
        font-size: 2rem;
        color: goldenrod;
        
        // @include _md{
        //     left: 44%;
        //     font-size: 2.2rem;
        // }
    }

    .protest-strike-regular, .protest-strike-regular span {
        font-family: "Protest Strike", sans-serif;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 1px;
        color: $color_4;
        // text-shadow: 0 0 5px #000;
        line-height: 20px;
        position: relative;
        // @include _md{
        //     line-height: 24px;
        // }
    }

    .logo_creer_big_test{
        font-size: 2rem;
        // @include _md{
        //     font-size: 2.5rem;
        // }
        span{
            color: $color_3;
        }
    }
    .logo_creer_big_subtest{
        font-size: 1rem;
        padding: 0 2px;
        color: goldenrod;
        // @include _md{
        //     font-size: 1.2rem;
        // }
    }
}

// .btn{
//     background-color: $_bg_color_4;
//     border-radius: 8px;
//     border-style: none;
//     box-sizing: border-box;
//     color: #FFFFFF;
//     cursor: pointer;
//     display: inline-block;
//     font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
//     font-size: 14px;
//     font-weight: 500;
//     height: 40px;
//     line-height: 20px;
//     list-style: none;
//     margin: 0;
//     outline: none;
//     padding: 10px 16px;
//     position: relative;
//     text-align: center;
//     text-decoration: none;
//     transition: color 100ms;
//     vertical-align: baseline;
//     user-select: none;
//     -webkit-user-select: none;
//     touch-action: manipulation;

//     &:hover {
//         background-color: #F082AC;
//     }
// }