*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    transition: 0.2s;
    letter-spacing: -1px;
    font-weight: 100;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
    max-height: 100%;
}
// i{font-size: 24px;}


/* SCROLLBAR */
// ::-webkit-scrollbar{
//     background-color: $color_60;
//     pointer-events: visible;
//     width: 5px;
//     height: 5px;
// }
// ::-webkit-scrollbar-track {
//     /* box-shadow: inset 0 0 5px grey;  */
//     border-radius: 10px;
// }
// ::-webkit-scrollbar-thumb {
//     background-color: $color_60;
//     border-radius: 10px;
// }
// ::-webkit-scrollbar-thumb:hover {
//     background-color: $color_20;
// }