.calendrier_content{
    // padding: 0 20px;
    margin-bottom: 50px;
    // @include _lg{
    //     padding: 0 40px;
    // }
}

.fc-view-harness{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.fc-event-time{
    display: none;
}

.fc-col-header-cell{
    background-color: $_bg_color_3;
    color: $_text_color_1;
    font-size: 20px;
    height: 50px;
    // @include Dfx_JCc_AIc;
    // padding: 100px 0;

    .fc-scrollgrid-sync-inner{
        // padding: 0 2px;
        height: 100%;
        @include Dfx_JCc_AIc;
        // cursor: none;

        .fc-col-header-cell-cushion{
            cursor: default;
        }
    }
}

.eligible{
    // background-color: $_bg_color_1;
    // color: $_text_color_1;
    @include Dfx_JCfe_AIc;
    // padding: 10px;
}




