.calendrier {
    position: relative;
    .eligible{
    font-size: 20px;
    font-weight: 900;
    }

    // START MODAL CALENDRIER CASE
    .modal {
        display: none;
        justify-content: center;
        // align-items: center; 
        background-color: $_bg_color_1;
        // height: 100%;
        // backdrop-filter: blur(15px);
        padding: 100px 0 ;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 100;
        .fa-xmark{
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
        form {
            // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 300px;
            background-color: white;
            // padding: 20px;
            border-radius: 20px;
            height: fit-content;
            .bloc_inputs{
                // @include Dfx_JCc_AIc;
                display: flex;
                gap: 10px;
                margin-bottom: 30px;
            }
            input {
                display: none;
            }
            input:checked + .label_worked{
                background-color: $_bg_color_3;
                color: goldenrod;
            }
            .label_worked{
                cursor: pointer;
                background-color: $_bg_color_2;
                display: flex;
                padding: 5px 10px;
                border: 1px solid #ccc;
                font-size: 18px;
                width: 100%;
                &:hover{
                    background-color: $_bg_color_1;
                }
            }
            .adressError, .workedError {
                color: red;
                font-size: 14px;
            }

            select{
                padding: 10px 0;
                cursor: pointer;
            }

            .btn{
                padding: 10px 0;
                background-color: $_bg_color_3;
                color: white;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                transition: 0.3s;
                &:hover{
                    background-color: $_bg_color_2;
                    color: $color_3;
                }
            
            }
        }
    }
    // END MODAL CALENDRIER CASE
}

.didntWork {
    display: none;
}
