.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        text-align: center;

        .hero-title{
            @include _md{
                font-size: 60px;
            }
        }
        .hero-subtitle{
            @include _md{
                font-size: 25px;
            }
        }

        .btn{
            background-color: $_bg_color_4;
            border-radius: 8px;
            border-style: none;
            box-sizing: border-box;
            color: #FFFFFF;
            cursor: pointer;
            display: inline-block;
            font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            font-weight: 500;
            height: 40px;
            line-height: 20px;
            list-style: none;
            margin: 0;
            outline: none;
            padding: 10px 16px;
            position: relative;
            text-align: center;
            text-decoration: none;
            transition: color 100ms;
            vertical-align: baseline;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
        
            &:hover {
                background-color: #F082AC;
            }
            
            @include _md{
                font-size: 25px;
            }
        }
    }
}