.header {
    height: 20vh;
    max-width: 1440px;
    margin: 0 auto;
  .container {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        img{
            width: 155px; 
        }
    }
  }
}
.home-body{
    background-image: url('../../../assets/hero-background.jpg');
    background-size: cover;
    height: 100vh;
    position: relative;
}
