.list_users, .list_adresses{

    .search{
        background-color: $_bg_color_1;
        width: 100%;
        margin: 0 0 2px 0;
        padding: 18px 30px;
        display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: row;

        input{
            height: 100%;
            padding: 10px 20px;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 0.5px;
            color: $_text_color_3;
            transition: 300ms;
            &:focus{
                outline: none;
            }
        }
    }

    table{
        width: 100%;

        th,td{
            width: 100%;
            background-color: $_bg_color_1;
            text-align: left;
            padding: 10px 5px 10px 10px;
            margin-right: 3px;
            display: flex;
            align-items: center;
            font-size: 16px;
            @include _md{
                padding: 20px 10px 20px 32px;
                font-size: 20px;
            }
        }

        tr{
            margin: 0 0 2px 0;
            width: 100%;
            height: 100%;
            display: flex;
                // justify-content: start;
                // flex-direction: row;

            &:hover td{
                background-color: $_bg_color_2;
                color: $_text_color_3_opos;
            }

            th{
                @include _md{
                    flex: 3;
                }
                font-weight: 500;
            }
            th:last-child, td:last-child{
                margin-right: 0;
            }
        }

        thead{
            width: 100%;
            color: $_text_color_3;
            // font-size: 18px;
            font-weight: 400;
            letter-spacing: 0.5px;
            transition: 300ms;
            // @include _md{
            //     font-size: 22px;
            // }
        }

        tbody{
            width: 100%;
            // font-size: 16px;

            td{
                @include _md{
                    flex: 3;
                }
                
                // @include _md{
                //     font-size: 20px;
                // }
            }

            td.btn_delete_adress{
                color: red;
                cursor: pointer;

                i{
                    margin: 0 auto;
                    font-size: 18px;
                    
                    @include _md{
                        font-size: 25px;
                    }
                }

                &:hover{
                    background-color: red;
                    color: $_bg_color_1;
                }
            }
        }
    }
}

.list_adresses{
    table{
        thead{
            tr{
                th:last-child{
                // flex: 1;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    @include _md{
                        flex: 1;
                    }
                }
            }
        }
    }
    tbody{
        td:last-child{
            @include _md{
                flex: 1;
            }
            padding: 0;
        }
    }
}

.list_users{
    table{
        tbody{
            tr{
                cursor: pointer;
            }
        }
    }
}

.list_adresses{
    button{
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.5px;
        padding: 10px 20px;
        margin: 0 0 20px 0;
        border: none;
        cursor: pointer;
        transition: 300ms;
        &:hover{
            background-color: $_bg_color_2;
            color: $_text_color_3;
        }
    }
    .add_new_adress{
        background-color: $_bg_color_3;
        color: $_text_color_1;
    }
}