.show_modal_user_item, .show_modal_adresse{
    background-color: $_bg_color_1;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    min-height: 100%;
    transition: 0.5s;

    .btn_off_modal{
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 5px 10px;
        font-size: 18px;

        &:hover{
            background-color: $_bg_color_3;
            color: $_text_color_1;
        }
    }
}

.show_modal_adresse{
    form{
        display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: row;
        padding-top: 100px;

        div{
            margin: auto;
        }

        input{
            height: 100%;
            padding: 10px 20px;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 0.5px;
            color: $_text_color_3;
            transition: 300ms;
            &:focus{
                outline: none;
            }
        }
    }
}

.show_modal_user_item{
    padding: 50px 0;
    .historique{
        // border: solid 1px green;
        display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: column;

        button{
            padding: 5px 10px;
            font-size: 18px;
            background-color: $_bg_color_2;

            &:hover{
                background-color: $_bg_color_3;
                color: $_text_color_1;
            }
        }
    }
}


.historique_items{
    width: 100%;
    padding: 20px;
    transition: 0.5s;

    .historique_item{
        // border: solid 1px green;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        width: 100%;
        max-width: 900px;
        margin: auto;
        display: flex;
        padding: 5px 0;
        p{
            // border: solid 1px green;
            margin: 2px 0;
            padding: 5px 10px;
            font-size: 14px;
            background-color: $_bg_color_1;
            width: 100%;

            @include _md{
                font-size: 16px;
            }

            @include Dfx_JCc_AIc;
        }
        // p:nth-child(odd){
        //     background-color: $_bg_color_3;
        //     color: $_text_color_1;
        // }
    }
    // .historique_item:nth-child(odd){
    //     p{
    //             // background-color: $_bg_color_2;
    //             // color: $_text_color_1;
    //     }
    // }
    .historique_item_titre{
        background-color: $_bg_color_3;
        color: $_text_color_1;
    }
    .historique_item_titre p{
        background-color: $_bg_color_3;
        color: $_text_color_1;
        font-weight: 500;
        letter-spacing: 1px;
    }
}